.container, .container > .row {
  color: rgb(35, 233, 45);
  font-family:cursive;
  height: 100vh !important;
  font-style: italic;
  text-decoration: underline none;
}

.bug{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;

}